@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root {
  --bg: #eeeeee;
  --bg-panel: #ebebeb;
  --shadow: 0 0 7px rgba(255, 255, 255, 0.671); 
  --switch-color: linear-gradient(to right, #ff105f, #ffad06);
  --color-header: rgba(55, 29, 70, 0.521);
  --color-text: #333333;
}

.darkmode {
  --bg: #333333;
  --bg-panel: #434343;
  --shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  --switch-color: #8b7777;
  --color-header: rgb(219, 205, 205);
  --color-text: #B5B5B5;
}

body {
    margin: 0;
    background: var(--bg);
    font-family: 'Noto Sans Mono', monospace;
  }

nav {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 9px 10px -15px #c3a2b0; 

}

/* check logo color on light theme */
nav .logo {
  color: var(--color-header);
  font-size: 2em;
  text-align: center;
}

nav .right-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .right-menu-items button {
  border: none;
  color: var(--color-text);
  background: var(--bg);
  font-size: 1.2em;
  cursor: pointer;
}

nav .right-menu-items button:hover {
  text-decoration: underline;
  text-decoration-color: rgb(13, 55, 94);
}

nav .right-menu-items button:focus {
  outline: none;
}

/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switch-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider {
  border-radius: 30px;
}

.slider:before {
  border-radius: 50%;
}
/* End of theme switch */
  
#notesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  padding: 24px;
  gap: 24px;
}

/* .noteWrapper {} */
  
.note {
  height: 300px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  box-shadow: var(--shadow);
  resize: none;
  font-family: inherit;
  color:rgb(20, 18, 18);
  line-height: 1.8em;
  font-size: 16px;
  position: relative;
}

.note:focus {
  outline: none;
}

.note .date-container {
  position: absolute;
  
}

.note-date {
  /* background-color: #000; */
  color: var(--color-text);
  display:inline-block;
  width: 300px;
  font-size: 30px;
  z-index: 999;
  top: .5em;
}

.add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  /* color: rgba(0, 0, 0, 0.5); */
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(70, 69, 69, 0.4); /* Black w/ opacity */
  overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
  color: #fff;
  background-color:  #94bbe9;
  border: none;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 20%; /* Could be more or less, depending on screen size */
  height: 40%;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 631px) {
  header button { 
    font-size: 1em;
  }

  nav .logo{
    font-size: 1.1em;
  }
}

@media(max-width: 486px) {
  header button {
    font-size: .8em;
  }
  nav .logo {
    font-size: 1em; 
  }

  #myBtn {
    font-size: .9em;
  }

  .switch {
    width: 65px;
    height: 30px;
  }

}

@media(max-width: 1083px) {
  .modal-content {
    width: 50%; /* Could be more or less, depending on screen size */
    height: 40%;
  }
  
}